<style>
 h1, h4 {text-align: center}
</style>
<h1 style = "color: red">SORRY!</h1>
<h1>This application DOES NOT exist</h1>
<hr>
<h4><a href = "{{url_for('homePage')}}">HOME</a></h4>
<p>Designed by: <b>Eng. Mohammed Ali Ismail</b>  under Python Flask framework.</p>
	<p>
	<a href="https://www.linkedin.com/in/mohammedismail1982">Linkedin</a><b> || </b>
	<a href="https://www.slideshare.net/MohammedAlismail3">Slideshare</a><b> || </b>
	<a href="https://github.com/hamadasoma">Github</a><b> || </b>
	<a href="https://goo.gl/c7m8fp">Resume</a>
	</p>	
	<center><img src = "{{url_for('static', filename='err404.jpg')}}" width = 500 height = 300></center>