<html>

  <head>
    <title>Engineering Tools Built Under Flask Framework.</title>
  </head>
  
  <body>
    <div style="background-color:darkblue; color:orange">
    <h3>All the following applications are built using <i><b>Python Flask framework</b></i>.</h3>
	<h3>Click on the application you need.</h3>
	<hr>
	</div>
    <h3><a href= "{{url_for('LCinputPage')}}">Loadcells Calculations</a></h3>
	<h3><a href= "{{url_for('DATAinputPage')}}">Datasets Analysis</a></h3>
	<h3><a href= "{{url_for('YOUTUBEinputPage')}}">Youtube Playlist Data Mining</a></h3>
  </body>
  
  <footer style="background-color:gray; position:fixed; bottom:8px; right:16px;">
    <p>Designed by: <b>Eng. Mohammed Ali Ismail</b>  under Python Flask framework.</p>
	<p>
	<a href="https://www.linkedin.com/in/mohammedismail1982">Linkedin</a><b> || </b>
	<a href="https://www.slideshare.net/MohammedAlismail3">Slideshare</a><b> || </b>
	<a href="https://github.com/hamadasoma">Github</a><b> || </b>
	<a href="https://goo.gl/c7m8fp">Resume</a>
	</p>	
  </footer>
  
</html>